<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <form >
            <div style=" text-align:center;width: 300px; height: 400px; margin: 200px auto; border: 1px solid">
               <h1>LOGIN FORM</h1>
                <div class="m-2">
            <input type="text" name="name">
                </div>
                <div class="m-2">
            <input type="password" placeholder="form-controller">
                </div>
                    <div class="m-2">
                    <button>로그인</button>
                    </div>
                        <div class="m-2">
            <a href="/th/kakao/getCode">카카오 로그인</a>
                        </div>
                        </div>
        </form>
    </div>
</body>
</html>